header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

#logo {
    width:40px;
}

span {
    font-family: "Tilt Neon";
    font-size: 1.5rem;
}

.left {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.right {
    display: flex;
    margin-left: auto; 
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:0.5rem;
}

#sidebar-l {
    grid-column: 1 / 2;
}

#sidebar-r {
    grid-column: 3 / 4;
}

#posts {
    grid-column: 2 / 3;
    gap: 0.5rem;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-family: "Rokkitt";
}

.post:hover {
    background-color: lightgray;
    cursor: pointer;
}

.post > span {
    font-family: "Rokkitt";
    font-size: 0.9rem;
}

.post > span::before {
    content: "Tags: ";
}

details {
    font-family: "Rokkitt";
    margin-bottom: 0.7rem;
}

summary {
    margin-bottom: 0.7rem;
}

button {
    background-color: rgb(157, 64, 64);
    border: none;
    border-radius: 30%;
    font-family: "Rokkitt";
    color: white;
}

.right > button {
    width:50px;
    height: 50px;
}

button:hover {
    background-color: pink;
    border-radius: 10%;
    color: black;
    cursor: pointer;
}

#searchbar {
    border-radius: 1.2rem;
    padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

#addPost {
    width: 5rem;
    height: 3rem;
    align-self: center;
    margin-top: 1.5rem;
}

